body{
    margin:0;
    background-color:black;
    color:white;
    font-size:16px;
}
.main-title{
    text-align:center;
}
form{
    margin:0 auto;
    width:60vw;
    max-width:600px;
    min-width:300px;
    padding-bottom:2em;
}
fieldset{
    border:none;
    padding:2rem 0;
    border-bottom:3px solid black;
}
label{
    display:block;
    margin:0.5rem 0;
}
input{
    width:100%;
    background-color:black;
    color:white;
    border:1px solid;
    min-height:2em;
    margin:10px 0 0 0;
}
input[type="submit"] {
   display:flex;
   padding:2px 6px;
   margin:auto;
   height:2em;
   border-radius:1px;
   min-width:150px;
   border-color:black;
}
.error{
    color:red;
    display:block;
    font-size:0.8rem;

}